<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Notícias</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Home</a>
    <a class="p-2 text-dark" href="#">Favoritas</a>
    <a class="p-2 text-dark" href="#">Categorias</a>
    <a class="p-2 text-dark" href="#">Contato</a>
  </nav>
  <form class="form-inline mt-2 mt-md-0">
    <input class="form-control" type="text" placeholder="Pesquisa" aria-label="Pesquisa">

    <button class="btn" type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
    </button>
  </form>
</div>

<main role="main" class="container-fluid">

  <div class="row">

    <div class="col-2">
      <app-sidebar-categorias></app-sidebar-categorias>
      <div class="mb-4"></div>
      <app-newsletter></app-newsletter>
    </div>

    <div class="col-8">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
      <div class="row">
          <span class="text-muted">T242 - Desenvolvimento Plataforma Web - Universidade de Fortaleza</span>
      </div>
    </div>

    <div class="col-2">
      <app-teams></app-teams>
      <div class="mb-4"></div>
      <app-ad></app-ad>
    </div>
  </div>
</main>
